USE [master]
GO
/****** Object:  Database [Watch_System]    Script Date: 11/14/2025 8:45:54 AM ******/
CREATE DATABASE [Watch_System]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Watch_System', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Watch_System.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Watch_System_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Watch_System_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Watch_System].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Watch_System]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[brand_id] [int] IDENTITY(1,1) NOT NULL,
	[brand_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[brand_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[customer_id] [int] NOT NULL,
	[cart_id] [int] IDENTITY(1,1) NOT NULL,
	[product_id] [int] NOT NULL,
	[cart_quantity] [int] NOT NULL,
 CONSTRAINT [PK_cart_detail] PRIMARY KEY CLUSTERED 
(
	[cart_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_category] PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[customer_name] [nvarchar](100) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](12) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[gender] [bit] NOT NULL,
	[dob] [date] NOT NULL,
	[address] [nvarchar](255) NOT NULL,
	[account_status] [varchar](50) NOT NULL,
	[image] [nvarchar](255) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedback_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[order_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[rating] [int] NOT NULL,
	[comment] [nvarchar](255) NOT NULL,
	[create_at] [datetime] NOT NULL,
	[image] [nvarchar](255) NULL,
	[hidden] [bit] NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedback_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportInvetory]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportInvetory](
	[import_invetory_id] [int] IDENTITY(1,1) NOT NULL,
	[total_import_price] [int] NOT NULL,
	[import_at] [date] NOT NULL,
	[import_date] [date] NOT NULL,
	[total_import_quantity] [int] NOT NULL,
	[supplier] [nvarchar](100) NOT NULL,
	[import_status] [bit] NOT NULL,
 CONSTRAINT [PK_ImportInvetory] PRIMARY KEY CLUSTERED 
(
	[import_invetory_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportProduct]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportProduct](
	[import_product_id] [int] IDENTITY(1,1) NOT NULL,
	[import_invetory_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[import_product_quantity] [int] NOT NULL,
	[import_product_price] [int] NOT NULL,
 CONSTRAINT [PK_ImportProduct] PRIMARY KEY CLUSTERED 
(
	[import_product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[phone] [varchar](12) NOT NULL,
	[order_date] [datetime] NOT NULL,
	[order_status] [nvarchar](50) NOT NULL,
	[shipping_address] [nvarchar](255) NOT NULL,
	[payment_method] [bit] NULL,
	[total_amount] [decimal](12, 2) NOT NULL,
	[delivered_at] [datetime] NULL,
 CONSTRAINT [PK_order] PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[order_id] [int] NOT NULL,
	[product_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](12, 2) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[import_invetory_id] [int] NULL,
	[brand_id] [int] NOT NULL,
	[image] [nvarchar](255) NOT NULL,
	[product_name] [nvarchar](50) NOT NULL,
	[price] [int] NOT NULL,
	[origin] [nvarchar](100) NOT NULL,
	[gender] [bit] NOT NULL,
	[description] [nvarchar](500) NULL,
	[warranty] [nvarchar](50) NOT NULL,
	[machine] [nvarchar](255) NOT NULL,
	[glass] [nvarchar](255) NOT NULL,
	[dial_diameter] [varchar](50) NOT NULL,
	[bezel] [nvarchar](255) NOT NULL,
	[strap] [varchar](255) NOT NULL,
	[dial_color] [nvarchar](50) NOT NULL,
	[function] [nvarchar](255) NOT NULL,
	[product_quantity] [int] NOT NULL,
 CONSTRAINT [PK_product] PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reply]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reply](
	[rep_id] [int] IDENTITY(1,1) NOT NULL,
	[feedback_id] [int] NOT NULL,
	[account_id] [int] NOT NULL,
	[customer_id] [int] NOT NULL,
	[content_reply] [nvarchar](500) NULL,
 CONSTRAINT [PK_Reply] PRIMARY KEY CLUSTERED 
(
	[rep_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 11/14/2025 8:45:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[user_name] [nvarchar](100) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[phone] [varchar](12) NOT NULL,
	[role] [varchar](50) NOT NULL,
	[position] [varchar](255) NOT NULL,
	[address] [nvarchar](255) NULL,
	[status] [varchar](50) NOT NULL,
 CONSTRAINT [PK__UserAcco__1788CCAC397A70FC] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (1, N'Casio')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (2, N'Citizen')
INSERT [dbo].[Brand] ([brand_id], [brand_name]) VALUES (3, N'Orient')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Cart] ON 

INSERT [dbo].[Cart] ([customer_id], [cart_id], [product_id], [cart_quantity]) VALUES (8, 1045, 29, 1)
INSERT [dbo].[Cart] ([customer_id], [cart_id], [product_id], [cart_quantity]) VALUES (8, 1047, 25, 5)
SET IDENTITY_INSERT [dbo].[Cart] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (2, N'Gentle')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (3, N'Lady')
INSERT [dbo].[Category] ([category_id], [category_name]) VALUES (4, N'Đồng Hồ Cơ')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([customer_id], [customer_name], [email], [phone], [password], [gender], [dob], [address], [account_status], [image]) VALUES (6, N'yuki', N'yuki@gmail.com', N'0099887766', N'dcddb75469b4b4875094e14561e573d8', 1, CAST(N'1900-01-01' AS Date), N'123 Hàm Nghi, Q1, TP.HCM', N'Active', N'images/uploads/pexels-rodrigo-souza-1275988-2531546.jpg')
INSERT [dbo].[Customer] ([customer_id], [customer_name], [email], [phone], [password], [gender], [dob], [address], [account_status], [image]) VALUES (7, N'TieuVim', N'tieu@gmail.com', N'0112233404', N'b0baee9d279d34fa1dfd71aadb908c3f', 1, CAST(N'1999-01-01' AS Date), N'123 Tran Nhan Tong, Q1, TP.HCM', N'Active', N'images/uploads/pexels-rodrigo-souza-1275988-2531546.jpg')
INSERT [dbo].[Customer] ([customer_id], [customer_name], [email], [phone], [password], [gender], [dob], [address], [account_status], [image]) VALUES (8, N'TriKhue', N'khue@gmail.com', N'0099887766', N'3d2172418ce305c7d16d4b05597c6a59', 0, CAST(N'2005-09-09' AS Date), N'Kiếm Lai', N'Active', N'images/uploads/1 (1).gif')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedback_id], [account_id], [order_id], [customer_id], [product_id], [rating], [comment], [create_at], [image], [hidden]) VALUES (1, 2, 1, 8, 28, 5, N'oke ngon rồi nha!', CAST(N'2025-10-25T21:46:38.900' AS DateTime), NULL, 0)
INSERT [dbo].[Feedback] ([feedback_id], [account_id], [order_id], [customer_id], [product_id], [rating], [comment], [create_at], [image], [hidden]) VALUES (2, 2, 9, 7, 25, 5, N'hàng ngon, page phản hồi tốt, đúng mẫu ngon bổ rẻ quá trời, mốt sẽ ủng hộ tiếp, nói chung là okela nha!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!', CAST(N'2025-10-27T11:54:00.437' AS DateTime), NULL, 0)
INSERT [dbo].[Feedback] ([feedback_id], [account_id], [order_id], [customer_id], [product_id], [rating], [comment], [create_at], [image], [hidden]) VALUES (3, 2, 13, 7, 22, 3, N'hàng tạm ổn, giá đắt vl, đau ví quá!!!!!!!!!!!!!!!!!!!!!!!!!', CAST(N'2025-10-27T11:54:28.940' AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Feedback] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportInvetory] ON 

INSERT [dbo].[ImportInvetory] ([import_invetory_id], [total_import_price], [import_at], [import_date], [total_import_quantity], [supplier], [import_status]) VALUES (1, 1000000000, CAST(N'2025-11-10' AS Date), CAST(N'2025-12-10' AS Date), 999, N'Unknown', 0)
INSERT [dbo].[ImportInvetory] ([import_invetory_id], [total_import_price], [import_at], [import_date], [total_import_quantity], [supplier], [import_status]) VALUES (2, 222, CAST(N'2025-11-13' AS Date), CAST(N'2025-11-08' AS Date), 22, N'Cửa hàng FPT', 0)
INSERT [dbo].[ImportInvetory] ([import_invetory_id], [total_import_price], [import_at], [import_date], [total_import_quantity], [supplier], [import_status]) VALUES (10, 12000000, CAST(N'2025-11-13' AS Date), CAST(N'2025-11-15' AS Date), 12, N'Cửa hàng FPT', 0)
SET IDENTITY_INSERT [dbo].[ImportInvetory] OFF
GO
SET IDENTITY_INSERT [dbo].[ImportProduct] ON 

INSERT [dbo].[ImportProduct] ([import_product_id], [import_invetory_id], [product_id], [import_product_quantity], [import_product_price]) VALUES (1, 21, 29, 10, 12000000)
INSERT [dbo].[ImportProduct] ([import_product_id], [import_invetory_id], [product_id], [import_product_quantity], [import_product_price]) VALUES (2, 22, 9, 10, 8000000)
SET IDENTITY_INSERT [dbo].[ImportProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([order_id], [account_id], [customer_id], [phone], [order_date], [order_status], [shipping_address], [payment_method], [total_amount], [delivered_at]) VALUES (1, 2, 8, N'0099887766', CAST(N'2025-10-24T18:25:56.617' AS DateTime), N'SHIPPING', N'fpt ct', 0, CAST(3310000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[Order] ([order_id], [account_id], [customer_id], [phone], [order_date], [order_status], [shipping_address], [payment_method], [total_amount], [delivered_at]) VALUES (2, 1, 8, N'0099887760', CAST(N'2025-10-25T18:12:16.480' AS DateTime), N'SHIPPING', N'fpt ct', 1, CAST(21000000.00 AS Decimal(12, 2)), NULL)
INSERT [dbo].[Order] ([order_id], [account_id], [customer_id], [phone], [order_date], [order_status], [shipping_address], [payment_method], [total_amount], [delivered_at]) VALUES (3, 2, 8, N'0099887766', CAST(N'2025-10-25T18:13:40.290' AS DateTime), N'DELIVERED', N'fpt ct', 0, CAST(58500000.00 AS Decimal(12, 2)), CAST(N'2025-11-10T07:20:07.230' AS DateTime))
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity], [unit_price]) VALUES (1, 28, 2, CAST(3310000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity], [unit_price]) VALUES (2, 31, 5, CAST(21000000.00 AS Decimal(12, 2)))
INSERT [dbo].[OrderDetail] ([order_id], [product_id], [quantity], [unit_price]) VALUES (3, 34, 6, CAST(58500000.00 AS Decimal(12, 2)))
GO
SET IDENTITY_INSERT [dbo].[Product] ON 

SET IDENTITY_INSERT [dbo].[Product] OFF
GO
SET IDENTITY_INSERT [dbo].[Reply] ON 

INSERT [dbo].[Reply] ([rep_id], [feedback_id], [account_id], [customer_id], [content_reply]) VALUES (1, 1, 2, 8, N'Cảm ơn bạn đã ủng hộ shop!')
INSERT [dbo].[Reply] ([rep_id], [feedback_id], [account_id], [customer_id], [content_reply]) VALUES (2, 1, 2, 8, N'Cảm ơn bạn đã ủng hộ shop!')
INSERT [dbo].[Reply] ([rep_id], [feedback_id], [account_id], [customer_id], [content_reply]) VALUES (3, 2, 2, 7, N'Cảm ơn bạn đã ủng hộ shop!')
SET IDENTITY_INSERT [dbo].[Reply] OFF
GO
SET IDENTITY_INSERT [dbo].[Staff] ON 

INSERT [dbo].[Staff] ([account_id], [user_name], [password], [email], [phone], [role], [position], [address], [status]) VALUES (1, N'Admin', N'e10adc3949ba59abbe56e057f20f883e', N'admin@gmail.com', N'0987654321', N'Admin', N'Admin', N'Cai Rang, TP Can Tho', N'Active')
INSERT [dbo].[Staff] ([account_id], [user_name], [password], [email], [phone], [role], [position], [address], [status]) VALUES (2, N'Staff', N'e10adc3949ba59abbe56e057f20f883e', N'staff@gmail.com', N'1234567890', N'Staff', N'Sale Staff', N'Ninh Kiều, TP Cần Thơ', N'Active')
SET IDENTITY_INSERT [dbo].[Staff] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserAcco__536C85E4AC32D774]    Script Date: 11/14/2025 8:45:54 AM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ__UserAcco__536C85E4AC32D774] UNIQUE NONCLUSTERED 
(
	[user_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__UserAcco__A9D1053499661AE6]    Script Date: 11/14/2025 8:45:54 AM ******/
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [UQ__UserAcco__A9D1053499661AE6] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Customer] ADD  CONSTRAINT [DF__Custom__Statu__2FCF1A9B]  DEFAULT ('Active') FOR [account_status]
GO
ALTER TABLE [dbo].[Feedback] ADD  CONSTRAINT [DF_Feedback_IsHidden]  DEFAULT ((0)) FOR [hidden]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF__UserAccou__Statu__2FCF1A8A]  DEFAULT ('Active') FOR [status]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_Cart_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_Cart_Product]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_CartDetail_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_CartDetail_Customer]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Customer]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Order]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_Product]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [FK_Feedback_UserAccount] FOREIGN KEY([account_id])
REFERENCES [dbo].[Staff] ([account_id])
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [FK_Feedback_UserAccount]
GO
ALTER TABLE [dbo].[ImportProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImportProduct_ImportInvetory] FOREIGN KEY([import_invetory_id])
REFERENCES [dbo].[ImportInvetory] ([import_invetory_id])
GO
ALTER TABLE [dbo].[ImportProduct] CHECK CONSTRAINT [FK_ImportProduct_ImportInvetory]
GO
ALTER TABLE [dbo].[ImportProduct]  WITH CHECK ADD  CONSTRAINT [FK_ImportProduct_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[ImportProduct] CHECK CONSTRAINT [FK_ImportProduct_Product]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Customer]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_UserAccount] FOREIGN KEY([account_id])
REFERENCES [dbo].[Staff] ([account_id])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_UserAccount]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_order] FOREIGN KEY([order_id])
REFERENCES [dbo].[Order] ([order_id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_order]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetail_Product] FOREIGN KEY([product_id])
REFERENCES [dbo].[Product] ([product_id])
GO
ALTER TABLE [dbo].[OrderDetail] CHECK CONSTRAINT [FK_OrderDetail_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Brand] FOREIGN KEY([brand_id])
REFERENCES [dbo].[Brand] ([brand_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Brand]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([category_id])
REFERENCES [dbo].[Category] ([category_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_ImportInvetory] FOREIGN KEY([import_invetory_id])
REFERENCES [dbo].[ImportInvetory] ([import_invetory_id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_ImportInvetory]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Customer] FOREIGN KEY([customer_id])
REFERENCES [dbo].[Customer] ([customer_id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Customer]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_Feedback] FOREIGN KEY([feedback_id])
REFERENCES [dbo].[Feedback] ([feedback_id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_Feedback]
GO
ALTER TABLE [dbo].[Reply]  WITH CHECK ADD  CONSTRAINT [FK_Reply_UserAccount] FOREIGN KEY([account_id])
REFERENCES [dbo].[Staff] ([account_id])
GO
ALTER TABLE [dbo].[Reply] CHECK CONSTRAINT [FK_Reply_UserAccount]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [CK__Custom__Statu__30C33FD4] CHECK  (([Account_status]='Locked' OR [Account_status]='Inactive' OR [Account_status]='Active'))
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [CK__Custom__Statu__30C33FD4]
GO
ALTER TABLE [dbo].[Feedback]  WITH CHECK ADD  CONSTRAINT [CK_Feedback_Rating_1_5] CHECK  (([rating]>=(1) AND [rating]<=(5)))
GO
ALTER TABLE [dbo].[Feedback] CHECK CONSTRAINT [CK_Feedback_Rating_1_5]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [CK__UserAccou__Statu__30C33EC3] CHECK  (([Status]='Locked' OR [Status]='Inactive' OR [Status]='Active'))
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [CK__UserAccou__Statu__30C33EC3]
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD  CONSTRAINT [CK_UserAccount_Role] CHECK  (([role]='Staff' OR [role]='Admin'))
GO
ALTER TABLE [dbo].[Staff] CHECK CONSTRAINT [CK_UserAccount_Role]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1000000000000000000' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ImportInvetory', @level2type=N'COLUMN',@level2name=N'total_import_price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'11/10/2025' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ImportInvetory', @level2type=N'COLUMN',@level2name=N'import_at'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'12/10/2025' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ImportInvetory', @level2type=N'COLUMN',@level2name=N'import_date'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1000' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ImportInvetory', @level2type=N'COLUMN',@level2name=N'total_import_quantity'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'rolex' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ImportInvetory', @level2type=N'COLUMN',@level2name=N'supplier'
GO
USE [master]
GO
